include LICENSE
include README.md
include requirements.txt
include pyproject.toml
include kurtosis-lint

recursive-include analysis *.py
recursive-include analysis/visitors *.py
recursive-include analysis/tests *.py *.star

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store 